@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'nunito';
    src: url('nunitosans-black-webfont.woff2') format('woff2'),
         url('nunitosans-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-blackitalic-webfont.woff2') format('woff2'),
         url('nunitosans-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-bold-webfont.woff2') format('woff2'),
         url('nunitosans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-bolditalic-webfont.woff2') format('woff2'),
         url('nunitosans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-extrabold-webfont.woff2') format('woff2'),
         url('nunitosans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-extrabolditalic-webfont.woff2') format('woff2'),
         url('nunitosans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-extralight-webfont.woff2') format('woff2'),
         url('nunitosans-extralight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-extralightitalic-webfont.woff2') format('woff2'),
         url('nunitosans-extralightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-italic-webfont.woff2') format('woff2'),
         url('nunitosans-italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-light-webfont.woff2') format('woff2'),
         url('nunitosans-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-lightitalic-webfont.woff2') format('woff2'),
         url('nunitosans-lightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'nunito';
    src: url('nunitosans-regular-webfont.woff2') format('woff2'),
         url('nunitosans-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}